<section class="container mx-auto md:p-12 p-6">
  <div class="flex flex-wrap" *ngIf="!tmpReservation.confirmInfos">
    <div>
      <h1 tabindex="0" role="heading" aria-label="profile information" class="focus:outline-none text-3xl font-bold sm:text-gray-800 md:text-white mt-12">Reservation form</h1>
      <p  role="contentinfo"  class=" focus:outline-nonetext-sm font-light leading-tight text-gray-600 md:text-white mt-4">Make sure you enter the right information about your vehicle. <br />We will contact you later for a confirmation of the time slots</p>
      <select *ngIf="isConnect" id="reservations" class="mt-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option (click)="reinit(); sure = false;">You can choose the profile of an old order</option>
        <option (click)="setOldResev(res);" *ngFor="let res of oldReservation">{{res.brand +  ' : ' + res.model + ' - ' + (res.date | date:"MMMM dd, yyyy")}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="!tmpReservation.confirmInfos" class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 pt-6 gap-8">
    <div class="bg-white px-4 shadow rounded-lg sm:px-6 md:px-8 pt-5 pb-11 w-full sm:border-r border-gray-200">
      <div class="sm:flex items-center justify-between">
        <div>
          <h2  role="heading" aria-label="enter Personal data" class="text-xl font-semibold leading-7 text-gray-800">Personal information</h2>
          <p class="text-sm font-light leading-none text-gray-600 mt-0.5">Enter your information</p>
        </div>
      </div>
      <div class="mt-9">
        <form #form="ngForm" (ngSubmit)="save(form)">
          <div class="mt-8 items-center">
            <div class="flex flex-col">
              <label class="mb-3 text-sm leading-none text-gray-800">Full name</label>
              <input [(ngModel)]="tmpReservation.noms" name="noms" type="name" tabindex="0" aria-label="Enter first name" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
            </div>
            <div class="flex flex-col mt-8">
              <label class="mb-3 text-sm leading-none text-gray-800">Email</label>
              <input [(ngModel)]="tmpReservation.email" name="email"  type="email" tabindex="0" aria-label="Enter last name" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
            </div>
            <div class="flex flex-col mt-8">
              <label class="mb-3 text-sm leading-none text-gray-800">Phone</label>
              <input [(ngModel)]="tmpReservation.phone" name="phone"  type="tel" tabindex="0" aria-label="Enter last name" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
            </div>
            <div class="flex flex-col mt-8">
              <label class="mb-3 text-sm leading-none text-gray-800">Zip Codes <span class="text-red-600">*</span></label>
              <input [(ngModel)]="tmpReservation.zipCode" name="zipCode" required type="text" tabindex="0" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
            </div>
            <div class="flex flex-col mt-8">
              <label class="mb-3 text-sm leading-none text-gray-800">More details</label>
              <textarea [(ngModel)]="tmpReservation.detailAdress" name="moreDetail" type="text" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="bg-white px-4 shadow rounded-lg sm:px-6 md:px-8 pt-5 pb-11 w-full sm:border-r border-gray-200">
      <div class="sm:flex items-center justify-between">
        <div>
          <h2  role="heading" aria-label="enter Personal data" class="text-xl font-semibold leading-7 text-gray-800">Information about the vehicle</h2>
          <p class="text-sm font-light leading-none text-gray-600 mt-0.5">Enter your location information</p>
        </div>
      </div>
      <div class="mt-9">
        <form #form="ngForm" (ngSubmit)="save(form)">
          <div class="mt-8 items-center">
            <div class="flex flex-col">
              <label class="mb-3 text-sm leading-none text-gray-800">Brand <span class="text-red-600">*</span></label>
              <input [(ngModel)]="tmpReservation.brand" name="brand" required type="text" tabindex="0" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
            </div>
            <div class="flex flex-col mt-8">
              <label class="mb-3 text-sm leading-none text-gray-800">Model <span class="text-red-600">*</span></label>
              <input [(ngModel)]="tmpReservation.model" name="model" required type="text" tabindex="0" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
            </div>
            <div class="flex flex-col mt-8">
              <label class="mb-3 text-sm leading-none text-gray-800">Year </label>
              <input [(ngModel)]="tmpReservation.annee" name="annee" type="number" min="1900" max="2099" step="1" tabindex="0" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="bg-white px-4 shadow rounded-lg sm:px-6 md:px-8 pt-5 pb-11 w-full sm:border-r border-gray-200">
      <div class="sm:flex items-center justify-between">
        <div>
          <h2  role="heading" aria-label="enter Personal data" class="text-xl font-semibold leading-7 text-gray-800">Please choose three date ranges</h2>
          <p class="text-sm font-light leading-none text-gray-600 mt-0.5">Please choose three date ranges</p>
        </div>
      </div>
      <div class="mt-9">
          <div class="mt-8 items-center">
            <form #form="ngForm" (ngSubmit)="save(form)">
              <div class="flex flex-col">
                <label class="mb-3 text-sm leading-none text-gray-800">Day 1 </label>
                <input [(ngModel)]="tmpReservation.dateTimeReserve1" name="dateReserve1"  type="datetime-local" tabindex="0" aria-label="Enter date reservation 1" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
              </div>
              <div class="flex flex-col mt-8">
                <label class="mb-3 text-sm leading-none text-gray-800">Day 2 </label>
                <input [(ngModel)]="tmpReservation.dateTimeReserve2" name="dateReserve2"  type="datetime-local" tabindex="0" aria-label="Enter date reservation 2" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
              </div>
              <div class="flex flex-col mt-8">
                <label class="mb-3 text-sm leading-none text-gray-800">Day 3 </label>
                <input [(ngModel)]="tmpReservation.dateTimeReserve3" name="dateReservation3"  type="datetime-local" tabindex="0" aria-label="Enter date reservation 3" class="w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200" />
              </div>
            </form>
            <div class="flex flex-col mt-8 text-gray-500">
              <p class="mt-4 text-sm">
                Please fill in all fields marked with <span class="text-red-600">*</span> that are required information for your reservation.
              </p>
              <form #form="ngForm" (ngSubmit)="save(form)">
                <div class="mt-4">
                  <div class="py-4 flex items-center">
                    <div class="bg-white dark:bg-gray-800 border rounded-sm border-gray-400 dark:border-gray-700 w-4 h-4 flex flex-shrink-0 justify-center items-center relative">
                      <input id="sures" type="checkbox" [(ngModel)]="sure" name="sure" tabindex="0" aria-label="I agree with the terms of service" class="checkbox opacity-0 absolute cursor-pointer w-full h-full" />
                      <div class="check-icon hidden bg-blue-500 text-white rounded-sm">
                        <svg class="icon icon-tabler icon-tabler-check" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                      </div>
                    </div>
                    <label class="text-sm leading-none ml-2" for="sures">The information entered <span class="text-indigo-700">is correct</span> &nbsp;<span class="text-red-600">*</span></label>
                  </div>
                </div>
                <div class="my-4 flex space-x-5">
                <button [disabled]="!sure || !tmpReservation.zipCode || !tmpReservation.brand || !tmpReservation.model" role="button" aria-label="Next step" class="disabled:text-gray-400 disabled:bg-gray-200 flex items-center justify-center py-4 px-7 focus:outline-none bg-white border rounded border-gray-400 hover:bg-gray-100  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
                  <svg *ngIf="isLoading" role="status" class="inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#6875f5"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                  </svg>
                  <span class="text-sm font-medium text-center text-gray-800 capitalize">Send</span>
                </button>
              </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="tmpReservation.confirmInfos" class="grid grid-cols-1 pt-6 gap-8">
    <div class="bg-white px-4 shadow rounded-lg sm:px-6 md:px-8 pt-5 pb-11 w-full sm:border-r border-gray-200">
      <div class="sm:flex items-center justify-between">
        <div>
          <h2  role="heading" aria-label="enter Personal data" class="text-xl font-semibold leading-7 text-gray-800">Great prices just for you</h2>
          <p class="text-sm font-light leading-none text-gray-600 mt-0.5">Make sure you choose the price that suits you and your needs</p>
        </div>
      </div>
      <div class="mt-9">
        <div class="flex flex-wrap mb-12 justify-between sm:justify-center -mx-6">
          <div class="w-full xl:w-1/4 lg:w-1/4 md:w-1/2 sm:w-1/2 mb-4 px-6">
            <div class="py-5 px-4 bg-white border border-gray-200shadow rounded-lg text-left">
              <h4 class="text-2xl text-indigo-700 font-semibold pb-8">ULTIMATE DETAIL</h4>
              <ul class="flex flex-col mb-6">
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Full exterior hand wash</p>
                </li>
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Tire dressing & rim cleaning</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Exterior window cleaning</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Thorough interior & trunk vacuum</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Interior wipe down</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Door jambs</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Window cleaning inside</p>
                </li>
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Leather cleaning & conditioning</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Clay bar paint treatment</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Water spot removal</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Outside plastic dressing</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Mats & carpets shampooed</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Plastic dressing inside</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Single-stage paint buffing</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Sealant wax</p>
                </li><li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Shampoo seats</p>
                </li>
              </ul>
              <p class="text-base text-indigo-700 relative pl-3">
                <span class="font-light text-lg">$</span>
                <span class="text-2xl font-semibold">329</span>
                <span class="font-light text-lg"> / FROM 150 TO 180 MINUTES</span>
              </p>
              <button (click)="validerReservation('ULTIMATE WASH', 329)" class="mt-5 w-full bg-gray-200 hover:bg-gray-300 focus:outline-none transition duration-150 ease-in-out rounded text-indigo-700 px-8 py-3 text-base font-semibold py-3">Choose</button>
            </div>
          </div>
          <div class="w-full xl:w-1/4 lg:w-1/4 md:w-1/2 sm:w-1/2 mb-4 px-6">
            <div class="py-5 px-4 bg-white border border-gray-200shadow rounded-lg text-left">
              <h4 class="text-2xl text-indigo-700 font-semibold pb-8">DELUXE DETAIL</h4>
              <ul class="flex flex-col mb-6">
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Full exterior hand wash</p>
                </li>
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Tire dressing & rim cleaning</p>
                </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Exterior window cleaning</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Thorough interior & trunk vacuum</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Interior wipe down</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Door jambs</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Window cleaning inside</p>
              </li>
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Leather cleaning & conditioning</p>
                </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Clay bar paint treatment</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Water spot removal</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Outside plastic dressing</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Mats & carpets shampooed</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Plastic dressing inside</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Complete wax for protect & shine</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Light stain removal</p>
              </li>
              </ul>
              <p class="text-base text-indigo-700 relative pl-3">
                <span class="font-light text-lg">$</span>
                <span class="text-2xl font-semibold">219</span>
                <span class="font-light text-lg"> / FROM 150 TO 180 MINUTES</span>
              </p>
              <button (click)="validerReservation('DELUXE WASH', 219)" class="mt-5 w-full bg-gray-200 hover:bg-gray-300 focus:outline-none transition duration-150 ease-in-out rounded text-indigo-700 px-8 py-3 text-base font-semibold py-3">Choose</button>
            </div>
          </div>
          <div class="w-full xl:w-1/4 lg:w-1/4 md:w-1/2 sm:w-1/2 mb-4 px-6">
            <div class="py-5 px-4 bg-white border border-gray-200shadow rounded-lg text-left">
              <h4 class="text-2xl text-indigo-700 font-semibold pb-8">PLATINUM WASH</h4>
              <ul class="flex flex-col mb-6">
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Full exterior hand wash</p>
                </li>
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Tire dressing & rim cleaning</p>
                </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Exterior window cleaning</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Thorough interior & trunk vacuum</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Interior wipe down</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Door jambs</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Window cleaning inside</p>
              </li>
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Complete wax for protect & shine</p>
                </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Leather cleaning & conditioning</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Light stain removal</p>
              </li>
              </ul>
              <p class="text-base text-indigo-700 relative pl-3">
                <span class="font-light text-lg">$</span>
                <span class="text-2xl font-semibold">99</span>
                <span class="font-light text-lg"> / FROM 90 TO 120 MINUTES</span>
              </p>
              <button (click)="validerReservation('PLATINUM WASH', 99)" class="mt-5 w-full bg-gray-200 hover:bg-gray-300 focus:outline-none transition duration-150 ease-in-out rounded text-indigo-700 px-8 py-3 text-base font-semibold py-3">Choose</button>
            </div>
          </div>
          <div class="w-full xl:w-1/4 lg:w-1/4 md:w-1/2 sm:w-1/2 mb-4 px-6">
            <div class="py-5 px-4 bg-white border border-gray-200shadow rounded-lg text-left">
              <h4 class="text-2xl text-indigo-700 font-semibold pb-8">GOLD WASH</h4>
              <ul class="flex flex-col mb-6">
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Full exterior hand wash</p>
                </li>
                <li class="flex items-center mb-2.5">
                  <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                  <p class="text-gray-800 text-base font-normal">Tire dressing & rim cleaning</p>
                </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Exterior window cleaning</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Thorough interior & trunk vacuum</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Interior wipe down</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Door jambs</p>
              </li><li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Window cleaning inside</p>
              </li>
              <li class="flex items-center mb-2.5">
                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMark.png" class="mr-4" alt="check-mark" />
                <p class="text-gray-800 text-base font-normal">Glossy exterior finish</p>
              </li>
              </ul>
              <p class="text-base text-indigo-700 relative pl-3">
                <span class="font-light text-lg">$</span>
                <span class="text-2xl font-semibold">49</span>
                <span class="font-light text-lg"> / FROM 55 TO 70 MINUTES</span>
              </p>
              <button (click)="validerReservation('GOLD WASH', 49)" class="mt-5 w-full bg-gray-200 hover:bg-gray-300 focus:outline-none transition duration-150 ease-in-out rounded text-indigo-700 px-8 py-3 text-base font-semibold py-3">Choose</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
