<app-page-loading *ngIf="!currentUser"></app-page-loading>

<section *ngIf="currentUser && !authorised">
  <div class="justify-center text-center p-24">
    <svg id="react2"  class="inline"  width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1017_212)">
        <path d="M20.75 40.001C31.7957 40.001 40.75 31.0467 40.75 20.001C40.75 8.95528 31.7957 0.000976562 20.75 0.000976562C9.7043 0.000976562 0.75 8.95528 0.75 20.001C0.75 31.0467 9.7043 40.001 20.75 40.001Z" fill="#FFE17D"/>
        <path d="M13.9757 20.001C13.0849 20.001 12.3628 19.2788 12.3628 18.3881V17.0978C12.3628 16.207 13.0849 15.4849 13.9757 15.4849C14.8665 15.4849 15.5886 16.207 15.5886 17.0978V18.3881C15.5886 19.2788 14.8665 20.001 13.9757 20.001Z" fill="#7D5046"/>
        <path d="M13.9757 15.4849C13.8652 15.4849 13.7574 15.4962 13.6531 15.5174V17.7429C13.6531 18.2774 14.0864 18.7106 14.6208 18.7106C15.1553 18.7106 15.5885 18.2774 15.5885 17.7429V17.0978C15.5885 16.2069 14.8665 15.4849 13.9757 15.4849Z" fill="#9C6846"/>
        <path d="M27.5243 20.001C26.6335 20.001 25.9114 19.2788 25.9114 18.3881V17.0978C25.9114 16.207 26.6335 15.4849 27.5243 15.4849C28.415 15.4849 29.1372 16.207 29.1372 17.0978V18.3881C29.1372 19.2788 28.415 20.001 27.5243 20.001Z" fill="#7D5046"/>
        <path d="M27.5242 15.4849C27.4138 15.4849 27.306 15.4962 27.2017 15.5174V17.7429C27.2017 18.2774 27.6349 18.7106 28.1694 18.7106C28.7038 18.7106 29.1371 18.2774 29.1371 17.7429V17.0978C29.1371 16.2069 28.415 15.4849 27.5242 15.4849Z" fill="#9C6846"/>
        <path d="M14.2959 29.8396C14.1006 29.8396 13.9046 29.769 13.7496 29.6266C13.422 29.3248 13.4006 28.8148 13.7024 28.4869C15.3392 26.7079 17.9734 25.646 20.7474 25.646C23.5228 25.646 26.1563 26.7083 27.7925 28.4872C28.0943 28.8148 28.0729 29.3251 27.7453 29.6266C27.4183 29.9284 26.9073 29.9079 26.6055 29.579C25.2692 28.1261 23.0792 27.2589 20.7474 27.2589C18.4162 27.2589 16.2262 28.1261 14.8892 29.5793C14.7307 29.7521 14.5132 29.8396 14.2959 29.8396Z" fill="#AA7346"/>
        <path d="M23.6532 37.0977C12.6075 37.0977 3.6532 28.1434 3.6532 17.0977C3.6532 12.3143 5.33453 7.92496 8.1357 4.4834C3.62992 8.15059 0.75 13.7386 0.75 20.0009C0.75 31.0466 9.7043 40.0009 20.75 40.0009C27.0124 40.0009 32.6004 37.1209 36.2677 32.6151C32.826 35.4163 28.4366 37.0977 23.6532 37.0977Z" fill="#FFD164"/>
      </g>
      <defs>
        <clipPath id="clip0_1017_212">
          <rect width="40" height="40" fill="white" transform="translate(0.75 0.000976562)"/>
        </clipPath>
      </defs>
    </svg>

    <h3 class="py-3 text-gray-400">You do not have the necessary permissions to access this page</h3>

    <button routerLink="../home" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Return to the home page</button>
  </div>
</section>

<div class="w-full h-full bg-gray-200" *ngIf="currentUser && authorised">
  <div class="flex flex-no-wrap">
    <!-- Sidebar starts -->
    <div style="min-height: 700px" class="absolute lg:relative w-64 {-- h-screen --} shadow bg-gray-100 hidden lg:block">
      <div class="h-16 w-full flex items-center px-8">
        <a class="text-2xl font-bold text-gray-800 transition-colors duration-200 transform dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300" href="./home">WASH</a>
      </div>
      <ul aria-orientation="vertical" class="py-6">
        <li *ngIf="currentUser.permissions[0] === '1'" (click)="menu = 1" class="pl-6 cursor-pointer {{menu === 1 ? 'text-indigo-700' : 'text-gray-600 hover:text-indigo-700'}}  text-sm leading-3 tracking-normal pb-4 pt-5 focus:text-indigo-700 focus:outline-none">
          <div class="flex items-center">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <span class="ml-2">Reservations</span>
          </div>
        </li>
        <li *ngIf="currentUser.permissions[1] === '1'" (click)="menu = 2" class="pl-6 cursor-pointer {{menu === 2 ? 'text-indigo-700' : 'text-gray-600 hover:text-indigo-700'}} text-sm leading-3 tracking-normal mt-4 mb-4 py-2 focus:text-indigo-700 focus:outline-none">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-puzzle" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <span class="ml-2">Users</span>
          </div>
        </li>
      </ul>
    </div>
    <!--Mobile responsive sidebar-->
    <div *ngIf="isMenu" class="absolute w-full h-full z-40 lg:hidden" id="mobile-nav">
      <div class="bg-gray-800 opacity-50 absolute h-full w-full lg:hidden" (click)="isMenu = false"></div>
      <div class="absolute z-40 sm:relative w-64 md:w-96 shadow pb-4 bg-gray-100 lg:hidden transition duration-150 ease-in-out h-full">
        <div class="flex flex-col justify-between h-full w-full">
          <div>
            <div class="flex items-center justify-between px-8">
              <div class="h-16 w-full flex items-center">
                <a class="text-2xl font-bold text-gray-800 transition-colors duration-200 transform dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300" href="./home">WASH</a>
              </div>
              <div id="closeSideBar" class="flex items-center justify-center h-10 w-10" (click)="isMenu = false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <line x1="18" y1="6" x2="6" y2="18" />
                  <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
              </div>
            </div>
            <ul aria-orientation="vertical" class="py-6">
              <li *ngIf="currentUser.permissions[0] === '1'" (click)="menu = 1" class="pl-6 cursor-pointer {{menu === 1 ? 'text-indigo-700' : 'text-gray-600 hover:text-indigo-700'}}  text-sm leading-3 tracking-normal pb-4 pt-5 focus:text-indigo-700 focus:outline-none">
                <div class="flex items-center">
                  <div class="w-6 h-6 md:w-8 md:h-8">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </div>
                  <span class="ml-2 xl:text-base md:text-2xl text-base">Reservations</span>
                </div>
              </li>
              <li *ngIf="currentUser.permissions[1] === '1'" (click)="menu = 2" class="pl-6 cursor-pointer {{menu === 2 ? 'text-indigo-700' : 'text-gray-600 hover:text-indigo-700'}} text-sm leading-3 tracking-normal mt-4 mb-4 py-2 focus:text-indigo-700 focus:outline-none">
                <div class="flex items-center">
                  <div class="w-6 h-6 md:w-8 md:h-8">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-puzzle" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                  </div>
                  <span class="ml-2 xl:text-base md:text-2xl text-base">Users</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="w-full">

            <div class="border-t border-gray-300">
              <div class="w-full flex items-center justify-between px-6 pt-1">
                <div class="flex items-center">
                  <img alt="profile-pic" src="{{currentUser.photo ? currentUser.photo : 'assets/images/user.png'}}" class="w-8 h-8 rounded-md" />
                  <p class="md:text-xl text-gray-800 text-base leading-4 ml-2">{{currentUser.nom}}</p>
                </div>
                <ul class="flex">
                  <li class="cursor-pointer text-white pt-5 pb-3 pl-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="#718096" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z"></path>
                      <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                      <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Mobile responsive sidebar-->
    <!-- Sidebar ends -->
    <div class="w-full">
      <!-- Navigation starts -->
      <nav class="h-16 flex items-center lg:items-stretch justify-end lg:justify-between bg-white shadow relative z-10">
        <div class="hidden lg:flex w-full pr-6">
          <div class="w-1/2 h-full hidden lg:flex items-center pl-6 pr-24">

          </div>
          <div class="w-1/2 hidden lg:flex">
            <div class="w-full flex items-center pl-8 justify-end">
              <div class="h-full w-20 flex items-center justify-center border-r border-l">
                <div class="relative cursor-pointer text-gray-600">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"></path>
                    <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                    <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                  </svg>
                  <div *ngIf="allReservationAttente.length > 0" class="w-2 h-2 animate-pulse rounded-full bg-red-400 border border-white absolute inset-0 mt-1 mr-1 m-auto"></div>
                </div>
              </div>

              <div class="flex items-center relative cursor-pointer" (click)="isList === 1 ? (isList = 0) : (isList = 1)">
                <div class="rounded-full">
                  <ul class="p-2 w-full border-r bg-white absolute rounded left-0 shadow mt-12 sm:mt-16" *ngIf="isList">
                    <li class="flex w-full justify-between text-gray-600 hover:text-indigo-700 cursor-pointer items-center mt-2">
                      <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                          <path d="M7 12h14l-3 -3m0 6l3 -3" />
                        </svg>
                        <span class="text-sm ml-2" (click)="goDeconnect()">Sign out</span>
                      </div>
                    </li>
                  </ul>
                  <div class="relative">
                    <img class="rounded-full h-10 w-10 object-cover ml-3" src="{{currentUser.photo ? currentUser.photo : 'assets/images/user.png'}}" alt="avatar" />
                    <div class="w-2 h-2 rounded-full bg-green-400 border border-white absolute inset-0 mb-0 mr-0 m-auto"></div>
                  </div>
                </div>
                <p class="text-gray-800 text-sm mx-3 capitalize font-semibold">{{currentUser.nom}}</p>
                <div class="cursor-pointer text-gray-600">
                  <svg aria-haspopup="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <polyline points="6 9 12 15 18 9" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-gray-600 mr-8 visible lg:hidden relative" (click)="isMenu = true" id="menu">
          <svg aria-label="Main Menu" aria-haspopup="true" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu cursor-pointer" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <line x1="4" y1="8" x2="20" y2="8" />
            <line x1="4" y1="16" x2="20" y2="16" />
          </svg>
        </div>
      </nav>
      <!-- Navigation ends -->
      <!-- Remove class [ h-64 ] when adding a card block -->
      <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6">
        <div *ngIf="menu === 1">
          <div class="mx-auto container bg-white dark:bg-gray-800 dark:bg-gray-800 shadow rounded">
            <div class="flex flex-col lg:flex-row p-4 lg:p-8 justify-between items-start lg:items-stretch w-full">
              <div class="w-full lg:w-1/3 flex flex-col lg:flex-row items-start lg:items-center">
                <div class="flex items-center">
                  <div class="flex items-center py-3 lg:py-0">
                    <p class="text-base text-gray-600 dark:text-gray-400" id="page-view">List of confirmed reservations {{allReservationFinish.length}} of {{allReservationAttente.concat(allReservationFinish).length}}</p>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-2/3 flex flex-col lg:flex-row items-start lg:items-center justify-end">
                <div class="lg:ml-6 flex items-center">

                  <div *ngIf="isLoading"
                    class="animate-pulse text-white ml-4 px-5 py-2 cursor-pointer focus:outline-none border border-transparent focus:border-gray-800 focus:shadow-outline-gray bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 w-fit h-fit rounded flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                    </svg> &nbsp; Save
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full overflow-x-scroll xl:overflow-x-hidden">
              <table class="min-w-full bg-white dark:bg-gray-800">
                <thead>
                <tr class="w-full h-16 border-gray-300 border-b py-8">
                  <th
                    class="pl-8 text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    N°
                  </th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Name
                  </th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Email</th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Phone</th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Brand</th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Model</th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Year</th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Zip Code</th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Reserved date 1</th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Reserved date 2</th>
                  <th
                    class="text-gray-600 dark:text-gray-400 font-normal pr-6 text-left text-sm tracking-normal leading-4">
                    Reserved date 3</th>
                  <td
                    class="text-gray-600 dark:text-gray-400 font-normal pr-8 text-left text-sm tracking-normal leading-4">
                    Confirmed date</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let reservation of allReservationAttente.concat(allReservationFinish); let i = index"
                  [ngClass]="!reservation.dateTimeConfirmer  ? 'border-b bg-gray-100 border-gray-300 h-24' : 'border-b bg-white border-gray-300 h-24' ">
                  <td
                    class="pl-8 pr-6 text-left whitespace-no-wrap text-sm text-gray-800 dark:text-gray-100 tracking-normal leading-4 font-semibold">
                    {{i + 1}}
                  </td>
                  <td class="pr-6 whitespace-no-wrap" [title]='reservation.date | date:"MMMM dd, yyyy - HH:mm"'>
                    <div class="flex items-center">
                      <div class="h-8 w-8">
                        <img src="assets/images/user.png"
                             alt="" class="h-full w-full rounded-full overflow-hidden shadow" />
                      </div>
                      <p class="ml-2 text-gray-800 dark:text-gray-100 tracking-normal leading-4 text-sm capitalize">{{reservation.noms}}</p>
                    </div>
                  </td>
                  <td
                    class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    {{reservation.email}}</td>
                  <td
                    class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    {{reservation.phone}}</td>
                  <td
                    class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    {{reservation.brand}}</td>
                  <td
                    class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    {{reservation.model}}</td>
                  <td
                    class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    {{reservation.annee}}</td>
                  <td [title]="reservation.detailAdress"
                    class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    {{reservation.zipCode}}</td>
                  <td (click)="reservation.dateTimeConfirmer = reservation.dateTimeReserve1; saveReservation(reservation)"
                    class="font-semibold text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 cursor-pointer">
                    {{reservation.dateTimeReserve1 ? (reservation.dateTimeReserve1 | date:"MMMM dd, yyyy - HH:mm") : '-'}}</td>
                  <td (click)="reservation.dateTimeConfirmer = reservation.dateTimeReserve2; saveReservation(reservation)"
                    class="font-semibold text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 cursor-pointer">
                    {{reservation.dateTimeReserve2 ? (reservation.dateTimeReserve2 | date:"MMMM dd, yyyy - HH:mm") : '-'}}</td>
                  <td (click)="reservation.dateTimeConfirmer = reservation.dateTimeReserve3; saveReservation(reservation)"
                    class="font-semibold text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4 cursor-pointer">
                    {{reservation.dateTimeReserve3 ? (reservation.dateTimeReserve3 | date:"MMMM dd, yyyy - HH:mm") : '-'}}</td>
                  <td
                    class="text-sm pr-6 whitespace-no-wrap text-gray-800 dark:text-gray-100 tracking-normal leading-4">
                    <input (ngModelChange)="saveReservation(reservation)" type="datetime-local" [(ngModel)]="reservation.dateTimeConfirmer"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="menu === 2">
          <div class="w-full sm:px-6">
            <div class="px-4 md:px-10 py-4 md:py-7 bg-gray-100 rounded-tl-lg rounded-tr-lg">
              <div class="sm:flex items-center justify-between">
                <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">Users of the platform</p>
                <div *ngIf="isLoading"
                     class="animate-pulse text-white ml-4 px-5 py-2 cursor-pointer focus:outline-none border border-transparent focus:border-gray-800 focus:shadow-outline-gray bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 w-fit h-fit rounded flex items-center justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                       height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                       stroke-linecap="round" stroke-linejoin="round">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                  </svg> &nbsp; Save
                </div>
              </div>
            </div>
            <div class="bg-white shadow px-4 md:px-10 pt-4 md:pt-7 pb-5 overflow-y-auto">
              <table class="w-full whitespace-nowrap">
                <thead>
                <tr class="h-16 w-full text-sm leading-none text-gray-800">
                  <th class="font-normal text-left pl-4">User</th>
                  <th class="font-normal text-left pl-12">Phone</th>
                  <th class="font-normal text-left pl-12">Permission reservation</th>
                  <th class="font-normal text-left pl-20">User management permission</th>
                  <th class="font-normal text-left pl-20">-</th>
                  <th class="font-normal text-left pl-16">-</th>
                </tr>
                </thead>
                <tbody class="w-full">
                  <tr *ngFor="let user of allUser" class="h-20 text-sm leading-none text-gray-800 bg-white border-b border-t border-gray-100">
                  <td class="pl-4 cursor-pointer">
                    <div class="flex items-center">
                      <div class="w-10 h-10">
                        <img class="w-full h-full" src="{{user.photo ? user.photo : 'assets/images/user.png'}}" />
                      </div>
                      <div class="pl-4">
                        <p class="font-medium">{{user.nom}}</p>
                        <p class="text-xs leading-3 text-gray-600 pt-2">{{user.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td class="pl-12">
                    <p class="text-sm font-medium leading-none text-gray-800">{{user.phone ? user.phone : '-'}}</p>
                  </td>
                  <td class="pl-12">
                    <p class="font-medium">
                      <input (change)="updatePermission(user, 1)" type="checkbox" [checked]="user.permissions[0] === '1'"
                                                  class="cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none" />
                    </p>
                  </td>
                  <td class="pl-20">
                    <input [disabled]="currentUser.email === user.email" (change)="updatePermission(user, 2)" type="checkbox" [checked]="user.permissions[1] === '1'"
                           class="{{currentUser.email === user.email ? 'text-gray-400' : ''}} cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none" />
                  </td>
                  <td class="pl-20">
                    <input (change)="updatePermission(user, 3)" type="checkbox" [checked]="user.permissions[2] === '1'"
                           class="cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none" />
                  </td>
                    <td class="pl-20">
                      <input (change)="updatePermission(user, 4)" type="checkbox" [checked]="user.permissions[3] === '1'"
                             class="cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white dark:bg-gray-800 outline-none" />
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="flex justify-center bg-gray-100 py-5 text-gray-400" *ngIf="menu === 0">
          Choose a menu to start
        </div>
      </div>
    </div>
  </div>
</div>
