<app-navbar></app-navbar>


<header class="mx-auto container py-2 xl:py-0 relative">
  <div class="w-full bg-center bg-cover h-[32rem]" style="background-image: url(https://glamsquad.com/hero-banner-732aebae4ef454ece22225e01beb4ba8.webp);">
    <div class="flex items-center justify-center w-full h-full"> <!-- bg-gray-100 bg-opacity-100 -->
      <div class="text-center">
        <h1 class="text-4xl font-bold text-black capitalize lg:text-6xl">Beauty Delivered <br> to You</h1>
        <p class="py-6 font-semibold text-2xl">
          In-Home Hair, Makeup and Nails Services <br>
          with Top Beauty Professionals. <br>
          Anytime, Anywhere.
        </p>
        <button routerLink="../book" class="w-full px-16 py-5 mt-4 text-xl font-bold text-white uppercase transition-colors duration-200 transform bg-violet-900 lg:w-auto hover:bg-violet-800 focus:outline-none focus:bg-violet-700">Book now</button>
      </div>
    </div>
  </div>
</header>


<section class="bg-white dark:bg-gray-900">
  <div class="container py-20 mx-auto px-6">
    <h1 class="text-3xl text-center font-semibold text-black capitalize lg:text-4xl dark:text-white">Why Glamsquad?</h1>

    <p class="text-2xl text-black dark:text-gray-300 text-center">
      Book five-star beauty services to your home, hotel, or office!
    </p>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
      <div class="space-y-3 text-center">
        <div class="h-48 w-48 mb-4 lg:mb-0 inline-block">
          <img src="https://glamsquad.com/Quality-1382c489767c842545fe141d950139b4.webp" alt="" class="h-full w-full rounded-full overflow-hidden shadow" />
        </div>

        <h1 class="text-xl font-bold text-black capitalize dark:text-white">Copy & paste components</h1>

        <p class="text-black dark:text-gray-300 font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
        </p>
      </div>

      <div class="space-y-3 text-center">
        <div class="h-48 w-48 mb-4 lg:mb-0 inline-block">
          <img src="https://glamsquad.com/Convenience-7074cf20f3dc894650de15233bdd2a43.webp" alt="" class="h-full w-full rounded-full overflow-hidden shadow" />
        </div>

        <h1 class="text-xl font-bold text-black capitalize dark:text-white">Zero Configrations</h1>

        <p class="text-black dark:text-gray-300 font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
        </p>
      </div>

      <div class="space-y-3 text-center">

        <div class="h-48 w-48 mb-4 lg:mb-0 inline-block">
          <img src="https://glamsquad.com/Confidence-643a8b02d9f60f9d9f972dc93883fae6.webp" alt="" class="h-full w-full rounded-full overflow-hidden shadow" />
        </div>

        <h1 class="text-xl font-bold text-black capitalize dark:text-white">New Components Every month</h1>

        <p class="text-black dark:text-gray-300 font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-50 dark:bg-gray-900 pb-10">
  <div class="container py-10 mx-auto px-6">

    <h1 class="text-2xl text-center font-semibold text-black capitalize dark:text-white mb-6">We come to you! Check out our current locations.</h1>

    <div class="grid grid-cols-1 gap-1 md:grid-cols-2 lg:grid-cols-3">
      <h1 class="cursor-pointer hover:text-violet-900 transition-colors mt-4 text-3xl font-semibold text-black dark:text-white">Default Taiwindcss Config</h1>
      <h1 class="cursor-pointer hover:text-violet-900 transition-colors mt-4 text-3xl font-semibold text-black dark:text-white">Default Taiwindcss Config</h1>
      <h1 class="cursor-pointer hover:text-violet-900 transition-colors mt-4 text-3xl font-semibold text-black dark:text-white">Default Taiwindcss Config</h1>

      <h1 class="cursor-pointer hover:text-violet-900 transition-colors mt-4 text-3xl font-semibold text-black dark:text-white">Default Taiwindcss Config</h1>
      <h1 class="cursor-pointer hover:text-violet-900 transition-colors mt-4 text-3xl font-semibold text-black dark:text-white">Default Taiwindcss Config</h1>
      <h1 class="cursor-pointer hover:text-violet-900 transition-colors mt-4 text-3xl font-semibold text-black dark:text-white">Default Taiwindcss Config</h1>

      <h1 class="cursor-pointer hover:text-violet-900 transition-colors mt-4 text-3xl font-semibold text-black dark:text-white">Default Taiwindcss Config</h1>
      <h1 class="cursor-pointer hover:text-violet-900 transition-colors mt-4 text-3xl font-semibold text-black dark:text-white">Default Taiwindcss Config</h1>
      <h1 class="cursor-pointer hover:text-violet-900 transition-colors mt-4 text-3xl font-semibold text-black dark:text-white">Default Taiwindcss Config</h1>
    </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div class="container py-20 mx-auto px-6">
    <h1 class="text-3xl text-center font-semibold text-black capitalize lg:text-4xl dark:text-white">Our most popular services</h1>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
      <div class="space-y-3 text-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
        <div class="h-48 w-48 mb-4 lg:mb-0 inline-block">
          <img src="https://glamsquad.com/bubble-1-017eb481cc52ffd04dddf6d178ce48a9.webp" alt="" class="h-full w-full rounded-full overflow-hidden shadow" />
        </div>

        <h1 class="text-xl font-bold text-black capitalize dark:text-white">Copy & paste components</h1>

        <p class="text-black dark:text-gray-300 font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
        </p>
      </div>

      <div class="space-y-3 text-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
        <div class="h-48 w-48 mb-4 lg:mb-0 inline-block">
          <img src="https://glamsquad.com/wedding-bubble-2-790b4255be85f334be63744396c59db6.webp" alt="" class="h-full w-full rounded-full overflow-hidden shadow" />
        </div>

        <h1 class="text-xl font-bold text-black capitalize dark:text-white">Zero Configrations</h1>

        <p class="text-black dark:text-gray-300 font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
        </p>
      </div>

      <div class="space-y-3 text-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">
        <div class="h-48 w-48 mb-4 lg:mb-0 inline-block">
          <img src="https://glamsquad.com/nailsBubble-0516fc273d9bd1163d57a019791901a4.webp" alt="" class="h-full w-full rounded-full overflow-hidden shadow" />
        </div>

        <h1 class="text-xl font-bold text-black capitalize dark:text-white">New Components Every month</h1>

        <p class="text-black dark:text-gray-300 font-semibold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti doloribus voluptatum eveniet
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto pt-16">
  <div class="w-11/12 xl:w-2/3 lg:w-2/3 md:w-2/3 mx-auto sm:mb-5 mb-8">
    <h1 class="text-4xl font-bold text-black dark:text-gray-300 text-center">As Seen In</h1>
  </div>
  <div class="xl:py-16 lg:py-16 md:py-16 sm:py-16 px-15 flex flex-wrap">
    <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r :border-r border-gray-200 xl:pb-10 pb-16 items-center">
      <img src="https://cdn.tuk.dev/assets/adidas-dark.png" alt="" />
    </div>
    <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b xl:border-r lg:border-r border-gray-200 xl:pb-10 pb-16 items-center">
      <img src="https://cdn.tuk.dev/assets/channel-dark.png" alt="" />
    </div>
    <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-b lg:border-b border-gray-200 xl:pb-10 pb-16 pt-4 items-center">
      <img src="https://cdn.tuk.dev/assets/nike-dark.png" alt="" />
    </div>
    <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center lg:border-b xl:border-b lg:border-l xl:border-l border-gray-200 xl:pb-10 pb-16 items-center">
      <img src="https://cdn.tuk.dev/assets/toyota-dark.png" alt="" />
    </div>
    <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-r lg:border-r border-gray-200 xl:pt-10 items-center">
      <img src="https://cdn.tuk.dev/assets/gs1-dark.png" alt="" />
    </div>
    <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-r lg:border-r border-gray-200 xl:pt-10 items-center">
      <img src="https://cdn.tuk.dev/assets/berry-dark.png" alt="" />
    </div>
    <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:pt-10 lg:pt-10 md:pt-2 pt-16">
      <img src="https://cdn.tuk.dev/assets/min-dark.png" alt="" />
    </div>
    <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center xl:border-l lg:border-l border-gray-200 xl:pt-10 lg:pt-10 md:pt-2 pt-16">
      <img src="https://cdn.tuk.dev/assets/honda-dark.png" alt="" />
    </div>
  </div>
</section>


<section class="bg-pink-100 dark:bg-gray-900 mt-10">
  <div class="container flex flex-col items-center px-4 py-24 mx-auto text-center">
    <h2 class="text-3xl font-semibold tracking-tight text-pink-900 sm:text-4xl dark:text-white">
      Join us and get the update from anywhere
    </h2>
  </div>
</section>

<app-footer></app-footer>
